body{
    font-family: calibri, Arial, Helvetica, sans-serif;
    margin: o;
 }
header{
  background-color: #ddd ;
  line-height: 2;
  text-align: center;
}
main{
    margin: 50px auto;
    max-width: 800px;           
}
section{
    margin-top: 30px;
}
h1,h2 {
   
    background-color: #BFBFBF;
    font-family: Cambria, Times, serif;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}
h1 {
    color: #1F497D;
    font-size: 24px; 
    word-spacing: 1.5em;
}
h2 {
    color: #632423;
    font-size: 18px;
}
li {
    font-style: normal;
    font-variant: small-caps;
}
/*años y otros al comienzo de las listas*/
.item-detail {
    font-style: italic;
    font-weight: bold;
}

footer{
    background-color: #1F497D;
    color: #ddd;
    font-size: 24px; 
    text-align: center;
}
/* logos redes sociales*/
.img-link{
width: 10 px;
height: 10 px;
}