@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:ital@1&display=swap") ;
body {
    font-family: 'Inter', sans-serif;
    padding: 10px;
}
.banner {
    background: url(../img/lemon-pie2.jpg);
    background-size:cover;
    background-position: center;
    height: 343px;
}

h1, p {
    color: white;
}

h1,h2{
    font-weight: bold;
}

h3{
font-family: 'Playfair Display', serif;
}